<!-- app/views/pages/contact.html.erb -->

<%# <%=link_to "create", create_path %> %>
<%=link_to "destroy", task_path %>
  task_path(@task),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
%>

<%=link_to "root", root_path %>
<%=link_to "Task", task_path(task) %>
<%# <%=link_to "index", index_path %> %>
<%# <%=link_to "update", update_path %> %>

<% members = ["thanh", "dimitri", "germain", "damien", "julien"] %>

<h2>Meet our team</h2>
<ol>
  <% members.each do |member| %>
    <li><%= member.capitalize %></li>
  <% end %>
</ol>
